/* HomePage */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: black;
  background-color: #fff2c3;
}

header {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 50px;
  margin-top: 30px;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5px;
  background-color: rgb(184, 139, 18);
  margin-top: 50px;
  box-shadow: 0 1px 3px rgba(69, 51, 7, 0.8);
}

.section-intro, .section-periods, .section-works, .timeline {
  margin: 0 auto;
  max-width: 900px;
} 

h1 {
  color: rgba(60, 43, 19, 0.8);
  font-size: 2.5em;
}

h2 {
  color: rgb(131, 99, 13);
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 12px;
  border-bottom: 2.5px solid rgb(235, 207, 160);
}

.intro-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 50px;
  margin: 45px 0;
}

.intro-container img {
  max-width: 40%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.6);
  flex: 1;
}

.intro-text {
  flex: 1;
}

.artwork img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border: 1px solid black;
}

.timeline {
  background-color: white; 
  padding: 20px;
  border: 3px solid rgb(235, 207, 160);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.timeline li {
  margin-bottom: 15px;
}

.artworks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-bottom: 70px;
  margin-top: 20px;
} 

.artwork {
  background: white; 
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(91, 68, 9, 0.5);
}

.artwork-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  background-color: rgb(131, 99, 13);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.artwork-btn:hover {
  background-color: rgb(78, 59, 8);
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 25px; 
  margin: 80px 0 40px 0;
  flex-wrap: wrap;
}

.explore-btn, .gallery-btn, .life-btn, .back-btn {
  display: inline-block;
  width: auto;
  padding: 12px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.explore-btn {
  background-color: rgb(13, 66, 131);
  border: 2px solid rgb(255, 29, 240);
}

.explore-btn:hover {
  background-color: rgb(8, 39, 78);
}

.gallery-btn {
  background-color: rgb(131, 13, 13);
}

.gallery-btn:hover {
  background-color: rgb(87, 8, 8);
}

.life-btn {
  background-color: rgb(13, 131, 131);
}

.life-btn:hover {
  background-color: rgb(8, 78, 78);
}

footer {
  text-align: center;
  padding: 50px 0;
  color: white;
  margin-top: 50px;
  background-color: rgb(78, 59, 8);
}

/* My inspired artworks */
.my-artwork-section {
  margin-bottom: 40px;
}

.my-artwork-img {
  width: auto;
  height: 600px;
  display: block;
  margin: 0 auto;
  border: 3px solid rgb(87, 8, 8);
}

.my-artwrok-description {
  background-color: white; 
  padding: 1.5rem;
  width: 1000px;
  margin: 30px auto;
  border: 3px solid rgb(87, 8, 8);
}

.back-btn {
  background-color: rgb(131, 99, 13);
}

.back-btn:hover {
  background-color: rgb(78, 59, 8);
}